<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyScene</string>
	<key>Description</key>
	<string>This generates a new scene using Uncle Bob&apos;s clean architecture. It consists of the view controller, interactor, presenter, and router. You can then create individual workers to supplement the interactor.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the scene to create</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>New Scene Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___Model</string>
			<key>Description</key>
			<string>The model name</string>
			<key>Identifier</key>
			<string>modelName</string>
			<key>Name</key>
			<string>Model Name</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___UseCase</string>
			<key>Description</key>
			<string>The usecase name</string>
			<key>Identifier</key>
			<string>useCaseName</string>
			<key>Name</key>
			<string>UseCase Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___Repository</string>
			<key>Description</key>
			<string>The repository name</string>
			<key>Identifier</key>
			<string>repositoryName</string>
			<key>Name</key>
			<string>Repository Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___Request</string>
			<key>Description</key>
			<string>The request name</string>
			<key>Identifier</key>
			<string>requestName</string>
			<key>Name</key>
			<string>Request Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___Response</string>
			<key>Description</key>
			<string>The response name</string>
			<key>Identifier</key>
			<string>responseName</string>
			<key>Name</key>
			<string>Response Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___StoryboardEnum</string>
			<key>Description</key>
			<string>The Storyboard enum name</string>
			<key>Identifier</key>
			<string>StoryboardEnumName</string>
			<key>Name</key>
			<string>Storyboard Enum Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ApiEnum</string>
			<key>Description</key>
			<string>The Api enum name</string>
			<key>Identifier</key>
			<string>ApiEnumName</string>
			<key>Name</key>
			<string>Api Enum Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Summary</key>
	<string>This generates a new scene using Uncle Bob&apos;s clean architecture.</string>
</dict>
</plist>
